.contact-hero {
  background-color: var(--secondary-color);
  
  h1 {
    font-weight: 700;
  }
}

.contact-form-section {
  .form-control {
    padding: 1rem;
    border-radius: 0;
    border: 1px solid #dee2e6;
    
    &:focus {
      box-shadow: none;
      border-color: var(--primary-color);
    }
  }
  
  textarea {
    min-height: 200px;
  }
}