<footer class="site-footer py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="footer-heading mb-4">
          <div class="site-logo">
    <a routerLink="/">
      <strong class="brand-text">DoForYou</strong>
      <span class="text-primary"><b class="dot">.</b></span>
    </a>          </div>
        </h2>
        <p>We are a Freelance Platform that allows ordinary South Africans to perform tasks for each other,
          providing an opportunity for you to earn extra cash</p>
        <div class="social-links">
          <a href="https://twitter.com/DoForYouSouthA1" class="text-white me-3"><i class="bi bi-twitter"></i></a>
          <a href="https://web.facebook.com/doforyousoutha1" class="text-white me-3"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/doforyou_za/" class="text-white"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
      <div class="col-lg-7 ms-auto">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white pb-1 d-block">Our privacy policy</a></li>
              <li><a href="#" class="text-white pb-1 d-block">Terms of service</a></li>
              <li><a routerLink="/browse-errands" class="text-white pb-1 d-block">Browse errands</a></li>
              <li><a routerLink="/post-errand" class="text-white pb-1 d-block">Post an errand</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <h2 class="footer-heading mb-4">Quick Support</h2>
            <p>Contact us on any of the channels below and we will get back to you ASAP!</p>
            <!-- <h5><a href="mailto:info@doforyou.co.za" class="text-white"><i class="bi bi-envelope me-2"></i>info@doforyou.co.za</a></h5> -->
            <h5><a href="https://wa.me/27614317474" class="text-white"><i class="bi bi-whatsapp me-2"></i>+2761 431 7474</a></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p class="mb-0 text-white">
            Copyright &copy; {{currentYear}} All rights reserved |
            <strong class="footer-bottom">DoForYou</strong><span ><b class="dot">.</b></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>