@import 'src/assets/styles/design-tokens';
@import 'src/assets/styles/admin-shared';

.row {
  @media (max-width: 576px) {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    
    > [class*='col-'] {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

.card {
  i {
    @media (max-width: 576px) {
      font-size: 1.5rem !important;
    }
  }
  
  .h4 {
    @media (max-width: 576px) {
      font-size: 1.25rem;
    }
  }
  
  .small {
    @media (max-width: 576px) {
      font-size: 0.75rem;
    }
  }
}

.btn {
  i {
    @media (max-width: 576px) {
      margin-right: 0.25rem !important;
    }
  }
  
  .btn-text {
    @media (max-width: 576px) {
      font-size: 0.8rem;
    }
  }
}