:root {
  --primary-color: #FF8A00;
  --primary-light: #FFE3C2;
  --primary-dark: #E67A00;
  --secondary-color: #f8f9fa;
  --text-color: #212529;
  --light-color: #ffffff;
  --dark-color: #343a40;
}

$font-family-base: 'Work Sans', sans-serif;
$font-family-special: 'Special Elite', serif;
